<h1>Sign In</h1>
<div>
    <br/>
    <div class="sign-in-container">
        <mat-form-field>
          <input matInput placeholder="Enter your Username" value="">
        </mat-form-field>       
        
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>       
        </mat-form-field> 
    </div>
    <br/>
    <div class="submit-button">  
        <button mat-raised-button color="primary">Sign In</button>
    </div>
    <br/>
</div>

