<div id="mainList">
  <br/> 
  <mat-list-item><mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Home Tool Kit</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/Home_Tool_Kit.jpg">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">BUY</button>
      <button mat-button>DETAILS</button>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>

  <br/> 
  <mat-list-item><mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Circular Saw</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/Circular_Saw.jpg">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">BUY</button>
      <button mat-button>DETAILS</button>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
  
  <br/> 
  <mat-list-item><mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Push_Lawn_Mower</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/Push_Lawn_Mower.jpg">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">BUY</button>
      <button mat-button>DETAILS</button>
      </mat-card-actions>
    </mat-card>
  </mat-list-item> 
  
</div>  