#header{
    //background: rgb(238, 238, 238); 
    height: 100px;   
}

#catSelector{
    //background: rgb(238, 238, 238);
    height: 0x;
}

#mainList{
    float: left;    
}

.product-card {
    max-width: 400px;
    min-width: 125px;
}

.productName {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        //background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: 20%;
        height: 480px;
        min-width: 250px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }

        p.price {
            font-weight: bold;
            font-size: 1.4rem;
        }

        p.country {
            text-transform: uppercase;
            font-size: .9rem;
            flex-grow: 1;
        }
    }
}

sup {
    font-weight: bold;
    font-size: 0.8rem;
}