<body *ngIf="product">    
    <mat-card class="product-card">
        <img mat-card-image src="{{ product.imageURL }}" >
    </mat-card>

      <div class="row">
        <h1 id = 'productName'> &nbsp; &nbsp; {{ product.name }}</h1> 
        
        <div class="column">   
                <h4 id = "stock"> &nbsp; &nbsp; In Stock.</h4>
            <ul *ngIf="product">
                <li *ngFor="let descript of product.description"> {{ descript }} </li>
                <div id = "product-price">
                    <sup>$</sup>{{ product.price.toFixed(0) }}<sup>{{ ('0' + (product.price % 1 * 100).toFixed(0)).slice(-2) }}</sup>
                </div>
            </ul>
        </div>
        <div class="column">
            <br/>
            <br/>
            <br/>
            <a routerLink="/product-list"><button mat-raised-button color="primary">Add to Cart</button></a>
            <a routerLink="/product-list"><button mat-button>Return to Catalog</button></a>
        </div>
      </div>
</body>

