<body>    
    <mat-card class="product-card">
        <img mat-card-image src="assets/img/Home_Tool_Kit.jpg" >
    </mat-card>

      <div class="row">
        <h1 id = 'productName'> &nbsp; &nbsp; Homeowner's Tool Set</h1> 
        
        <div class="column">   
                <h4 id = "stock"> &nbsp; &nbsp; In Stock.</h4>
            <ul>
                <li>Features all the standard tools you need for household projects</li>
                <li>All tools meet or exceed ANSI specs</li>
                <li>Case Included</li>
                <div id = "product-price">
                    <sup>$</sup>48<sup>49</sup>
                </div>
            </ul>
        </div>
        <div class="column">
            <br/>
            <a routerLink="/product-list"><button mat-raised-button color="primary">Add to Cart</button></a>
            <a routerLink="/product-list"><button mat-button>Return to Catalog</button></a>
        </div>
      </div>
</body>

